.jumbotron {
  background-image:url('http://cdn.dolimg.com/disney/wheres-my-perry/images/home/home_perry.png');
  height: 500px;
  background-repeat: no-repeat;
  background-size: 450px;
  background-position: left; 
}